
    <!-- Partners Section -->
    <section id="partners" class="partners">
        <div class="container">
            <div class="section-header">
                <h2>Our Partners</h2>
                <div class="header-line"></div>
            </div>

            <div class="partners-grid">
                <div class="partner-logo">
                    <div class="logo-card">
                        <img src="SIEMENS.PNG" alt="Siemens Logo" class="partner-img">
                        
                    </div>
                </div>
                <div class="partner-logo">
                    <div class="logo-card">
                       <img src="cisco.PNG" alt="Cisco Logo" class="partner-img">
                    </div>
                </div>
                <div class="partner-logo">
                    <div class="logo-card">
                       <img src="awsslogo.PNG" alt="AWS Logo" class="partner-img">
                    </div>
                </div>
                <div class="partner-logo">
                    <div class="logo-card">
                        <img src="oraclelogo.PNG" alt="Oracle Logo" class="partner-img">
                    </div>
                </div>
            </div>
        </div>
    </section>

